<footer>
    <div class="container-fluid mt-5 row">
        <div class="col-lg-3">
            <div class="container-fluid">
                <h3 class="footer-item-title"><b>About Yarn.solutions</b></h3>
                <p>Yarn is a vast online platform where many services are available for you to work remote with experts all over the world in Web2 and web3. We provide you with as much data as possible on each individual user, job post, or service listed so that you can ultimately make the best choice when finding freelancers or service providers. We do all the ground-work of marketing your job post or service through our own network and soical media accounts. This makes the hiring process much less stressful. It also lets you focus on hiring someone who wants to get the job done for you.
                </p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="container-fluid">
                <h3 class="footer-item-title"><b>Categories</b></h3>
                <ul class="footer-item" id="footerItemCategory">
                    <!-- FROM script.js -->
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="container-fluid">
                <h3 class="footer-item-title"><b>Quick Links</b></h3>
                <ul class="footer-item">
                    <li><a href="/allservices">Services</a></li>
                    <li><a href="/alljobpost">Posts</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="container-fluid">
                <h3 class="footer-item-title"><b>Conversation</b></h3>
                <ul class="footer-item">
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid w-80"><hr></div>

    <div class="container-fluid row mb-1">
        <div class="col-lg-6">
            <div class="container-fluid"><p>Copyright @<%= momentCurrentYear()%> By <a href="/">Yarn.solutions</a></p></div>
        </div>
        <div class="col-lg-6 text-lg-end">
            <div class="footer-logo-item container-fluid">
                <a href="https://www.galacticats.xyz" target="_blank"><i class="fa fa-globe fa-2x"></i></a>
                <a href="https://twitter.com/GalacticatsNFT" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="https://discord.com/invite/gxERuKmCDA" target="_blank"><i class="fab fa-discord fa-2x"></i></a>

            </div>
        </div>
    </div>
</footer>


<!-- Start Footer Links -->
<%- include('_footerLinks') %> 
<!-- End Footer Links -->

</body>
</html>
